<launch>
    <!-- 设置地图的配置文件 -->
    <arg name="map" default="g1.yaml" />

      <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_base_laser_link_broadcaster"
        args="0.15 0.0 0.05 1.57 0.0 0.0 base_link base_laser_link" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_imu_link_broadcaster"
        args="0.15  0.1 0.05  0.0  0.0 0.0 base_link imu_link" />
 <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0 0 0.0 map odom 1000"/> -->
    <!-- 运行地图服务器，并且加载设置的地图-->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find map_pkg)/map/$(arg map)"/>
    <!-- 启动AMCL节点 -->
    <include file="$(find nav_pkg)/launch/amcl.launch" />
    
  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         type="string" value="/dev/ttyUSB1"/>  
  <param name="serial_baudrate"     type="int"    value="1000000"/>
  <param name="frame_id"            type="string" value="base_laser_link"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  <param name="scan_frequency"      type="double" value="10.0"/>
  </node>

<include file="$(find nav_pkg)/launch/move_base.launch" />
    <node pkg="rviz" type="rviz" name="rviz"/>

    <!-- <include file="$(find rplidar_ros/launch/rplidar_s2_test.launch)" /> -->
</launch>